//
   Created by chenyulu on 15/12/27.

extends ../layout

block content
    div.ui.tabular.menu
        a.item(href='/admin') 借阅管理
        a.item(href='/admin/appoint') 预约管理
        a.item.active 荐购管理
    div.full.height
        div.toc
            div.ui.vertical.sticky.accordion.menu
                div.item
                    div.ui.icon.input
                        input(type='text', placeholder='搜索')
                        i.search.icon
                a.item 待处理
                a.item 不订购
                a.item 已订购
        div.article
            div.ui.header 基本订购信息
            table.ui.celled.table
                thead
                    tr
                        th 用户
                        th 题名
                        th 作者
                        th 出版信息
                        th 出版年份
                        th ISBN
                        th 荐购日期
                        th 荐购状态
                tbody
                    tr
                        td lulucici
                        td lulucici
                        td lulucici
                        td lulucici
                        td lulucici
                        td lulucici
                        td lulucici
                        td lulucici
            form.ui.form
                h3.ui.header 添加书籍详情
                div.field
                    div.six.fields
                        div.required.field
                            label 数目
                            input(type='text', name='amount', placeholder='数目')
                        div.required.field
                            label 类别
                            select.ui.dropdown
                                option(value='') 类别
                                option(value='A') A 马列主义、毛泽东思想、邓小平理论
                                option(value='B') B 哲学、宗教
                                option(value='C') C 社会科学总论
                                option(value='D') D 政治、法律
                                option(value='E') E 军事
                                option(value='F') F 经济
                                option(value='G') G 文化、科学、教育、体育
                                option(value='H') H 语言、文字
                                option(value='I') I 文学
                                option(value='J') J 艺术
                                option(value='K') K 历史、地理
                                option(value='N') N 自然科学总论
                                option(value='O') O 数理科学与化学
                                option(value='P') P 天文学、地球科学
                                option(value='Q') Q 生物科学
                                option(value='R') R 医药、卫生
                                option(value='S') S 农业科学
                                option(value='T') T 工业技术
                                option(value='U') U 交通运输
                                option(value='V') V 航空、航天
                                option(value='X') X 环境科学,安全科学
                                option(value='Z') Z 综合性图书
                div.required.field
                    label 摘要
                    textarea
                button.ui.button(type='submit') 确认订购

