//
   Created by chenyulu on 15/12/27.

extends ../layout

block content
    div.ui.large.top.fixed.hidden.menu
        div.ui.container
            a.item(href='/') 首页
            a.item(href='/books') 书库博览
            a.item(href='/recommend/history') 读者荐购
            a.item.active 管理中心
            div.right.menu
                div.item
                    a.ui.button Log In
                div.item
                    a.ui.primary.button Sign Up
    //Sidebar Menu

    div.ui.vertical.inverted.sidebar.menu
        a.item(href='/') 首页
        a.item(href='/books') 书库博览
        a.item(href='/recommend/history') 读者荐购
        a.item.active 管理中心
        a.item Log In
        a.item Sign Up

    //Page Contents
    div.pusher
        div.ui.inverted.main.menu#navbar
            div.ui.container
                div.ui.large.secondary.inverted.pointing.menu
                    a.toc.item
                        i.sidebar.icon
                    a.item(href='/') 首页
                    a.item(href='/books') 书库博览
                    a.item(href='/recommend/history') 读者荐购
                    a.item.active 管理中心
                div.right.menu
                    div.item
                        a.ui.inverted.button Log In
                    div.item
                        a.ui.inverted.button Sign Up
        div.ui.tabular.menu
            a.item(href='/admin') 借阅管理
            a.item(href='/admin/appoint') 预约管理
            a.item.active 荐购管理
        div.full.height
            div.toc
                div.ui.vertical.sticky.accordion.menu
                    div.item
                        div.ui.icon.input
                            input(type='text', placeholder='搜索')
                            i.search.icon
                    a.item 待处理
                    a.item 不订购
                    a.item 已订购
            div.article
                div.ui.header 基本订购信息
                table.ui.celled.table
                    thead
                        tr
                            th 用户
                            th 题名
                            th 作者
                            th 出版信息
                            th 出版年份
                            th ISBN
                            th 荐购日期
                            th 荐购状态
                    tbody
                        tr
                            td lulucici
                            td lulucici
                            td lulucici
                            td lulucici
                            td lulucici
                            td lulucici
                            td lulucici
                            td lulucici
                form.ui.form
                    h3.ui.header 添加书籍详情
                    div.field
                        div.six.fields
                            div.required.field
                                label 数目
                                input(type='text', name='amount', placeholder='数目')

                    div.required.field
                        label 摘要
                        textarea
                    button.ui.button(type='submit') 确认订购

    div.ui.black.inverted.vertical.footer.segment
        div.ui.center.aligned.container
            div Designed by Chen Yulu