extends ../layout

block content
    div.ui.tabular.menu
        a.item(href='/books') 分类浏览
        //a.item(href='/books/hot') 热门图书
        a.item(href='/books/new') 新书速递

    div.full.height
        div.toc
            div.ui.vertical.sticky.accordion.menu
                //div.item
                //    div.ui.icon.input
                //        input(type='text', placeholder='搜索')
                //        i.search.icon
                a.item.header 全部分类
                a.item A 马列主义、毛泽东思想、邓小平理论
                a.item B 哲学、宗教
                a.item C 社会科学总论
                a.item D 政治、法律
                a.item E 军事
                a.item F 经济
                a.item G 文化、科学、教育、体育
                a.item H 语言、文字
                a.item I 文学
                a.item J 艺术
                a.item K 历史、地理
                a.item N 自然科学总论
                a.item O 数理科学与化学
                a.item P 天文学、地球科学
                a.item Q 生物科学
                a.item R 医药、卫生
                a.item S 农业科学
                a.item T 工业技术
                a.item U 交通运输
                a.item V 航空、航天
                a.item X 环境科学,安全科学
                a.item Z 综合性图书

        div.article
            div.ui.container
                div.ui.header 书目信息
            div.ui.segment.piled.container
                h2.ui.header 梵高传
                div.ui.relaxed.divided.list
                    div.item
                        div.content
                            h4.header 作者
                            div.description lulucici
                    div.item
                        div.content
                            h4.header 出版方
                            div.description lulucici
                    div.item
                        div.content
                            h4.header 出版年份
                            div.description lulucici
                    div.item
                        div.content
                            h4.header ISBN
                            div.description 123456
                    div.item
                        div.content
                            h4.header 馆藏
                            div.description l4
                                span  本
                    div.item
                        div.content
                            h4.header 可借
                            div.description 1
                                span  本
                    div.item
                        div.content
                            h4.header 入馆日期
                            div.description lulucici
                    div.item
                        div.content
                            h4.header 摘要
                            div.description 留传世间的《向日葵》和《星夜》是怎么诞生的？真的是他亲手结束了热烈的一生吗？依托梵高博物馆档案和学术研究，取材自数千封书信和海量文献，《梵高传》收录了近200幅代表画作及照片，珍贵图片首次发表；20余位梵高研究专家参与幕后创作，评注超28000条，打印稿逾5000页；首创特别软件解析10万张数码卡片，数字技术引领传记写作和艺术史研究，更加真实可靠；开设持续更新的全面支持网站，深度整合参考文献、文本注释、画作和照片。
                    div.item
                        button.ui.button 预约
                        button.ui.disabled.button 已预约
