extends layout

block content
    //div.ui.tabular.menu
    //    //a.active.item 分类浏览
    //    ////a.item(href='/books/hot') 热门图书
    //    //a.item(href='/books/new') 新书速递

    div.full.height
        include partials/book_list
        div.article
            //div.ui.masthead.vertical.segment
            div.ui.header#navbar= '分类: ' + category.char + ' ' + category.name
                div.ui.text.menu#navbar
                    a.header.item(style='padding-left: 0;') 结果
                    a.active.item 5
            table.ui.celled.table
                thead
                    tr
                        th 题名
                        th 作者
                        th 出版方
                        th 出版年份
                        th ISBN
                        th 馆藏
                        th 可借
                tbody
                    tr
                        td lulucici
                        td lulucici
                        td lulucici
                        td lulucici
                        td lulucici
                        td lulucici
                        td lulucici
                    tr
                        td lulucici
                        td lulucici
                        td lulucici
                        td lulucici
                        td lulucici
                        td lulucici
                        td lulucici
                    tr
                        td lulucici
                        td lulucici
                        td lulucici
                        td lulucici
                        td lulucici
                        td lulucici
                        td lulucici
                tfoot
                    tr
                        th(colspan= 7)
                            div.ui.right.floated.pagination.menu
                                a.icon.item
                                    i.left.chevron.icon
                                a.item 1
                                a.item 2
                                a.item 3
                                a.item 4
                                a.icon.item
                                    i.right.chevron.icon
