extends layout

block content
  div.ui.large.top.fixed.hidden.menu
    div.ui.container
      a.active.item Home
      a.item Work
      a.item Company
      a.item Careers
      div.right.menu
        div.item
          a.ui.button log in
        div.item
          a.ui.primary.button sign up
