extends layout

block content
  //Following Menu
  div.ui.large.top.fixed.hidden.menu
    div.ui.container
      a.item 首页
      a.item 书库
      a.item 荐购
      a.item 个人中心
      div.right.menu
        div.item
          a.ui.button Log In
        div.item
          a.ui.primary.button Sign Up
  //Sidebar Menu

  div.ui.vertical.inverted.sidebar.menu
    a.item 首页
    a.item 书库
    a.item 荐购
    a.item 个人中心
    a.item Log In
    a.item Sign Up

   //Page Contents
  div.pusher
    div.ui.inverted.vertical.masthead.center.aligned.segment
      div.ui.container
        div.ui.large.secondary.inverted.pointing.menu
          a.toc.item
            i.sidebar.icon
          a.item 首页
          a.item 书库
          a.item 荐购
          a.item 个人中心
          div.right.menu
            div.item
              a.ui.inverted.button Log In
            div.item
              a.ui.inverted.button Sign Up
      div.ui.text.container
        h1.ui.inverted.header Lulu的图书馆
        h2 想经历一百种人生，不必亲自活上一百次。
        div.ui.huge.primary.button 开始阅读
          i.right.arrow.icon

    div.ui.vertical.stripe.segment
      div.ui.two.column.stackable.grid.container
        div.column
          div.ui.one.cards
            div.ui.card
              div.dimmable.image
                div.ui.blurring.inverted.dimmer
                  div.content
                    div.center
                      div.ui.teal.button 热门图书
                img(src='images/21_avatar_middle.jpg')
              div.content
                a.header 热门图书
                div.meta
                  span.group 一个月内
                div.ui.link.list
                  each book in hotBookList
                    a.item
                      i.right.triangle.icon
                      div=book.name
              div.extra.content
                a.right.floated.created More +
        div.column
          div.ui.one.cards
            div.ui.card
              div.blurring.dimmable.image
                div.ui.dimmer
                  div.content
                    div.center
                      div.ui.inverted.button 新书速递
                img(src='images/21_avatar_middle.jpg')
              div.content
                a.header 新书速递
                div.meta
                  span.group 最近一周
                div.ui.link.list
                  each book in newBookList
                    a.item
                      i.right.triangle.icon
                      div=book.name
              div.extra.content
                a.right.floated.created More +
        div.column
        div.ui.container
          div.ui.relaxed.divided.items
            div.item
              div.ui.small.image
                img(src='images/21_avatar_middle.jpg')
              div.content
                a.header 分类浏览
              div.meta
            div.item
              div.ui.small.image
                img(src='images/21_avatar_middle.jpg')
              div.content
                a.header 读者荐购