//
   Created by chenyulu on 15/12/27.
extends layout

block content

    //Page Contents
    div.pusher
        div.full.height
            div.article
                div.ui.container
                    h1.ui.header 登录
                    div.ui.container
                        form.ui.form(method='post')
                            h4.ui.dividing.header
                            div.field
                                div.four.fields
                                    div.required.field
                                        label 邮箱
                                        input(type='text', name='email', placeholder='邮箱')
                            div.field
                                div.four.fields
                                    div.required.field
                                        label 密码
                                        input(type='password', name='password', placeholder='密码')
                            button.ui.button(type='submit') 登录
