//
   Created by chenyulu on 15/12/18.

extends layout

block content
    div.ui.large.top.fixed.hidden.menu
        div.ui.container
            a.item 书目检索
            a.item 书库博览
            a.item 读者荐购
            a.item 个人中心
            div.right.menu
                div.item
                    a.ui.button Log In
                div.item
                    a.ui.primary.button Sign Up
    //Sidebar Menu

    div.ui.vertical.inverted.sidebar.menu
        a.item 书目检索
        a.item 书库博览
        a.item 读者荐购
        a.item 个人中心
        a.item Log In
        a.item Sign Up

    //Page Contents
    div.pusher
        div.ui.inverted.main.menu#navbar
            div.ui.container
                div.ui.large.secondary.inverted.pointing.menu
                    a.toc.item
                        i.sidebar.icon
                    a.item 书目检索
                    a.item 书库博览
                    a.item 读者荐购
                    a.item 个人中心
                div.right.menu
                    div.item
                        a.ui.inverted.button Log In
                    div.item
                        a.ui.inverted.button Sign Up