//
   Created by chenyulu on 15/12/27.

extends layout

block content

    //Page Contents
    div.pusher
        div.full.height
            div.article
                div.ui.container
                    h1.ui.header 注册
                    div.ui.container
                        form.ui.form
                            h4.ui.dividing.header
                            div.field
                                div.four.fields
                                    div.required.field
                                        label 姓名
                                        input(type='text', name='name', placeholder='姓名')
                            div.field
                                div.four.fields
                                    div.required.field
                                        label 学号
                                        input(type='text', name='student_id', placeholder='学号')
                            div.field
                                div.four.fields
                                    div.required.field
                                        label 昵称
                                        input(type='text', name='username', placeholder='昵称')
                            div.field
                                div.four.fields
                                    div.required.field
                                        label 邮箱
                                        input(type='text', name='email', placeholder='昵称')
                            div.field
                                div.four.fields
                                    div.required.field
                                        label 密码
                                        input(type='password', name='password', placeholder='昵称')
                            button.ui.button(type='submit') 提交
