//
   Created by chenyulu on 15/12/19.
extends ../layout

block content
    div.ui.tabular.menu
        a.item(href='/recommend/history') 荐购历史
        a.active.item 我要荐购
    div.ui.container(style='width: 60em;')
        form.ui.form
            h4.ui.dividing.header 请填入您要荐购的图书的信息
            div.field
                div.three.fields
                    div.required.field
                        label 题名
                        input(type='text', name='bookname', placeholder='图书全称')
            div.field
                div.three.fields
                    div.required.field
                        label 作者
                        input(type='text', name='author', placeholder='主要作者全名')
            div.required.field
                div.two.fields
                    div.field
                        label 出版信息
                        div.fields
                            div.eleven.wide.field
                                input(type='text', name='publisher', placeholder='出版方')
                            div.five.wide.field
                                input(type='text', name='publishtime', placeholder='出版年份')
            div.field
                div.three.fields
                    div.required.field
                        label ISBN
                        input(type='text', name='isbn', placeholder='ISBN')
            button.ui.button(type='submit') 提交

