//
   Created by chenyulu on 15/12/19.
extends ../layout

block content
    div.ui.large.top.fixed.hidden.menu
        div.ui.container
            a.item(href='/') 首页
            a.item(href='/books') 书库博览
            a.active.item 读者荐购
            a.item(href='/users') 个人中心
            div.right.menu
                div.item
                    a.ui.button Log In
                div.item
                    a.ui.primary.button Sign Up
    //Sidebar Menu

    div.ui.vertical.inverted.sidebar.menu
        a.item(href='/') 首页
        a.item(href='/books') 书库博览
        a.active.item 读者荐购
        a.item(href='/users') 个人中心
        a.item Log In
        a.item Sign Up

    //Page Contents
    div.pusher
        div.ui.inverted.main.menu#navbar
            div.ui.container
                div.ui.large.secondary.inverted.pointing.menu
                    a.toc.item
                        i.sidebar.icon
                    a.item(href='/') 首页
                    a.item(href='/books') 书库博览
                    a.active.item 读者荐购
                    a.item(href='/users') 个人中心
                div.right.menu
                    div.item
                        a.ui.inverted.button Log In
                    div.item
                        a.ui.inverted.button Sign Up
        div.ui.tabular.menu
            a.item(href='/recommend/history') 荐购历史
            a.active.item 我要荐购
        div.ui.container(style='width: 60em;')
            div.ui.top.attached.segment
                div.ui.top.attached.label 带*项必填
                form.ui.form
                    h4.ui.dividing.header 请填入您要荐购的图书的信息
                    div.field
                        div.two.fields
                            div.required.field
                                label 题名
                                input(type='text', name='bookname', placeholder='图书全称')
                            div.required.field
                                label 作者
                                input(type='text', name='author', placeholder='主要作者全名')
                    div.required.field
                        label 出版信息
                        div.fields
                            div.ten.wide.field
                                input(type='text', name='publisher', placeholder='出版方')
                            div.six.wide.field
                                input(type='text', name='publishtime', placeholder='出版时间/版次')
                    div.required.field
                        label ISBN
                        input(type='text', name='isbn', placeholder='ISBN')
                    div.required.inline.field
                        div.ui.toggle.checkbox
                            input.hidden(type='checkbox', tabindex='0')
                            label 是否预约
                    button.ui.button(type='submit') 提交

    div.ui.black.inverted.vertical.footer.segment
        div.ui.center.aligned.container
            div Designed by Chen Yulu