mixin pagination(baseurl)
    if pages
        tfoot
            tr
                th(colspan= 7)
                    div.ui.right.floated.pagination.menu
                        if pages.prev.if
                            a.icon.item(href=baseurl + '?page=' + pages.prev.number)
                                i.left.chevron.icon
                        if pages.current
                            each page in pages.current
                                if page.active
                                    a.item.active(href=baseurl + '?page=' + page.number)= page.number
                                else
                                    a.item(href=baseurl + '?page=' + page.number)= page.number
                        if pages.next.if
                            a.icon.item(href=baseurl + '?page=' + pages.next.number)
                                i.right.chevron.icon