//
   Created by chenyulu on 15/12/24.
extends ../layout

block content
    div.ui.large.top.fixed.hidden.menu
        div.ui.container
            a.item(href='/') 首页
            a.item(href='/books') 书库博览
            a.item(href='/recommend/history') 读者荐购
            a.item.active 个人中心
            div.right.menu
                div.item
                    a.ui.button Log In
                div.item
                    a.ui.primary.button Sign Up
    //Sidebar Menu

    div.ui.vertical.inverted.sidebar.menu
        a.item(href='/') 首页
        a.item(href='/books') 书库博览
        a.item(href='/recommend/history') 读者荐购
        a.item.active 个人中心
        a.item Log In
        a.item Sign Up

    //Page Contents
    div.pusher
        div.ui.inverted.main.menu#navbar
            div.ui.container
                div.ui.large.secondary.inverted.pointing.menu
                    a.toc.item
                        i.sidebar.icon
                    a.item(href='/') 首页
                    a.item(href='/books') 书库博览
                    a.item(href='/recommend/history') 读者荐购
                    a.item.active 个人中心
                div.right.menu
                    div.item
                        a.ui.inverted.button Log In
                    div.item
                        a.ui.inverted.button Sign Up
        div.ui.tabular.menu
            a.item(href='/users') 借阅历史
            a.item(href='/users/a_history') 我的预约
            a.item(href='/users/r_history') 我的荐购
            a.item.active 个人设置
        div.full.height
            div.toc
                div.ui.vertical.sticky.accordion.menu
                    div.item
                        div.item
                    a.item(href='/users/setting') 个人信息
                    a.item(href='/users/mailchange') 更改邮箱
                    a.active.item 更改密码
            div.article
                div.ui.header 更改密码
                form.ui.form(style='width: 20em;')
                    div.field
                        label 当前密码
                        input(type='password')
                    div.field
                        label 新密码
                        input(type='password')
                    div.field
                        label 确认密码
                        input(type='password')
                    button.ui.button(type='submit') 确认更改


    div.ui.black.inverted.vertical.footer.segment
        div.ui.center.aligned.container
            div Designed by Chen Yulu
