//
   Created by chenyulu on 15/12/24.

extends ../layout

block content
    div.ui.tabular.menu
        a.item(href='/users') 借阅历史
        a.item(href='/users/a_history') 我的预约
        a.item(href='/users/r_history') 我的荐购
        a.item.active 个人设置
    div.full.height
        div.toc
            div.ui.vertical.sticky.accordion.menu
                div.item
                    div.item
                a.active.item 个人信息
                a.item(href='/users/pwchange') 更改密码
        div.article
            div.ui.header 个人信息
            form.ui.form(style='width: 20em;')
                div.field
                    label 昵称
                    input(placeholder='lulucici', readonly='', type='text')
                div.field
                    label 邮箱
                    input(placeholder='lulucici77@gmailc.com', readonly='', type='text')

